/* ======= background-image ======= */
@mixin bg-cover($url) {
    background: url($url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media (min-width: 768px) {
        height: 100%;
    }
}
@mixin bg-sm-carousel {
    @media (min-width: 576px) {
        height: 518px;
    }
}
@mixin bg-md-album {
    @media (min-width: 768px) {
        height: 274px;
    }
}
@mixin svg-color($color, $url) {
    background-color: $color;
    -webkit-mask: url($url) no-repeat center center;
    mask: url($url) no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
    &:hover {
        background-color: $warning;
    }
}