/* ======= background-image ======= */
@mixin bg-cover($url) {
    background: url($url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media (min-width: 768px) {
        height: 100%;
    }
}
@mixin bg-album {
    @media (min-width: 768px) {
        height: 274px;
    }
}