/* ======= font-family ======= */
.Noto-Serif-TC {
    font-family: 'Noto Serif TC' !important;
}  
.Noto-Sans-TC {
    font-family: 'Noto Sans TC' !important;
}

/* ======= font-size ======= */
/* -- Q.為什麼要加!important才能覆蓋？ -- */
@media (max-width: 576px) {
    .fs-sm-16 {
        font-size: 16px !important;
    }
    .fs-sm-18 {
        font-size: 18px !important;
    }
    .fs-sm-24 {
        font-size: 24px !important;
    }
    .fs-sm-32 {
        font-size: 32px !important;
    }
}
@media (max-width: 768px) {
    .fs-md-14 {
        font-size: 14px !important;
    }
    .fs-md-16 {
        font-size: 16px !important;
    }
    .fs-md-18 {
        font-size: 18px !important;
    }
    .fs-md-24 {
        font-size: 24px !important;
    }
}


/* ======= letter-spacing ======= */
@media (max-width: 576px) {
    .ls-sm-1 {
        letter-spacing: 1px;
    }
}
