<nav class="navbar py-0">
    <div class="container-fluid py-4 border-bottom border-3 border-primary">
        <div class="d-flex">
            <a class="navbar-brand py-0 d-flex align-items-center me-5" href="index.html">
                <img class="me-3" src="../assets/images/logo.png" alt="logo" width="53" height="53">
                <h1 class="fs-2 fw-normal mb-0 me-1">7TAO</h1>
                <h6 class="fw-bold mb-0">活動訂票網</h6>        
              </a>
              <form class="d-flex">
                <input class="form-control border border-2 border-primary" style="width: 284px;" type="search" placeholder="探索活動" aria-label="Search">
                <button class="btn btn-primary" style="width: 51px; height: 51px;" type="submit">
                    <i class="icofont-search-1 fs-5 text-info"></i>
                </button>
              </form>
        </div>
      <ul class="navbar-nav flex-row">
        <li class="nav-item display-8 me-4">
            <a class="nav-link" href="#">
                <i class="icofont-ui-file display-8 me-1"></i>
                REGISTER
            </a>
          </li>
        <li class="nav-item display-8">
            <a class="nav-link" href="#">
                <i class="icofont-ui-user me-1"></i>
                LOGIN
            </a>
         </li>
      </ul>
    </div>
  </nav>