<!------- 表頭 header ------->
<div class="container">
    <nav class="navbar container-fluid d-flex justify-content-between gx-0 py-3 py-md-6 border-bottom border-3 border-primary mb-4 mb-md-7 position-relative" style="z-index: 1;">
        <!------- logo and search  ------->
        <div class="d-inline-flex">
            <a class="navbar-brand py-0 me-0 d-flex align-items-center me-lg-9" href="index.html">
                <img class="img-fluid me-5 me-lg-3 g_logo" src="../assets/images/logo.png" alt="logo">
                <h1 class="fs-2 fw-normal me-1 d-none d-lg-block">7TAO</h1>
                <h6 class="fw-bold d-none d-lg-block">活動訂票網</h6>        
            </a>
            <form class="d-flex g_searchbar">
                <input class="form-control Noto-Sans-TC lh-1 py-0 ps-3 ps-md-6" type="search" style="color: #878787; margin-right: -1px;" placeholder="探索活動" aria-label="Search">
                <button class="btn btn-primary px-sm-4 border-2 text-info " style="padding-inline: 9px; z-index: 1;" type="submit">
                    <i class="icofont-search-1 fs-5 lh-1"></i>
                </button>
            </form>
        </div>
        <!------- navbar-nav ------->
        <ul class="list-unstyled mb-0 d-flex d-md-inline-flex d-none btn-menu g_btnmenu">
            <li class="display-8 me-6">
                <a class="nav-link text-primary" href="#">
                    <i class="icofont-ui-file display-8 me-1"></i>
                    REGISTER
                </a>
            </li>
            <li class="display-8">
                <a class="nav-link text-primary" href="login.html">
                    <i class="icofont-ui-user me-1"></i>
                    LOGIN
                </a>
            </li>
        </ul>
        <!------- navbar-toggler ------->
        <button class="navbar-toggler border border-1 border-primary rounded py-sm-3 d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-nav" aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>     
    </nav>
    <!------- collapse navbar-nav ------->
    <div class="collapse navbar-collapse container-fluid position-absolute start-0 bg-light" id="navbar-nav" style="z-index: 3; top: 83px;">
        <ul class="navbar-nav flex-column p-3 border-bottom border-3 border-light">
            <li class="nav-item display-8">
                <a class="nav-link text-primary py-3" href="#">
                    <i class="icofont-ui-file display-8 me-1"></i>
                    REGISTER
                </a>
            </li>
            <li class="nav-item display-8">
                <a class="nav-link text-primary py-3" href="login.html">
                    <i class="icofont-ui-user me-1"></i>
                    LOGIN
                </a>
            </li>
        </ul>
    </div>
</div>
