<!------- header ------->
<div class="container">
    <nav class="navbar navbar-expand-lg py-0">
        <div class="container-fluid d-flex gx-0 py-3 py-md-6 border-bottom border-3 border-primary mb-4 mb-md-7">
            <!------- logo ------->
            <div class="d-inline-flex">
                <a class="navbar-brand py-0 me-0 d-flex align-items-center me-md-9" href="index.html">
                    <img class="img-fluid me-5 me-lg-3" src="../assets/images/logo.png" alt="logo">
                    <h1 class="fs-2 fw-normal mb-0 me-1 d-none d-md-block">7TAO</h1>
                    <h6 class="fw-bold mb-0 d-none d-md-block">活動訂票網</h6>        
                </a>
                <form class="d-flex">
                    <input class="form-control border border-2 border-primary" type="search" placeholder="探索活動" aria-label="Search">
                    <button class="btn btn-primary" style="min-width: 39px; min-height: 39px;" type="submit">
                        <i class="icofont-search-1 fs-5 text-info"></i>
                    </button>
                </form>
            </div>
            <!------- navbar-nav ------->
            <div class="d-flex">
                <!------- collapse navbar-nav ------->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-row mb-lg-0">
                        <li class="nav-item display-8 me-4">
                            <a class="nav-link text-primary" href="#">
                                <i class="icofont-ui-file display-8 me-1"></i>
                                REGISTER
                            </a>
                        </li>
                        <li class="nav-item display-8">
                            <a class="nav-link text-primary" href="#">
                                <i class="icofont-ui-user me-1"></i>
                                LOGIN
                            </a>
                        </li>
                    </ul>
                </div>
                <!------- navbar-toggler ------->
                <button class="navbar-toggler border border-1 border-primary rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>            
        </div>
    </nav>
</div>
