/* ----- 表頭 navbar-nav ----- */
/* -- Q.各種方法都不成功，最後只能改!important？ -- */
.btn-menu a:hover, .navbar-nav a:hover {
    color: #9C9E18 !important;
}
.navbar form {
    button:hover {
        background-color: $info;
        i {
            color: $primary;
        }
    }
}
.navbar button:hover {
    background-color: $info;
}
.navbar-toggler:focus {
    box-shadow: none;
}

/* ----- 探索更多 類別群組 ----- */
.category-group li {
    a:hover, span:hover {
        color: $warning !important;
    }
}
.category-icon {
    width: 80px;
    height: 80px;
    @media (max-width: 576px) {
        width: 40px;
        height: 40px;
    }
}
.icon-1 {
    @include svg-color($primary, '../images/cate01.svg');
}
.icon-2 {
    @include svg-color($primary, '../images/cate02.svg');
}
.icon-3 {
    @include svg-color($primary, '../images/cate03.svg');
}
.icon-4 {
    @include svg-color($primary, '../images/cate04.svg');
}
.icon-5 {
    @include svg-color($primary, '../images/cate05.svg');
}

/* ----- RECENT 近期活動 ----- */
.btn-sparkler:hover {
    text-decoration: underline;
} 
.btn-status {
    position: relative;
    &:hover:before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: $info;
        left: -10px;
        z-index: -1;
    }
}
/* ----- ONLINE 線上活動 ----- */
/* ----- 活動標籤群組 (可多選) ----- */
.tab-list {
    .tab-checkbox {
        display: none;
    }
    .btn-tab {
        height: 28px;
        @media (min-width: 768px) {
            height: 30px;
        }
        border-left: 4px solid $primary;
        position: relative;
    }
    .btn-tab:hover, .btn-tab.active {
        background-color: $primary;
        border-left: 4px solid $info;
    }
    // 當 .tab-checkbox 狀態是 checked 時，同階層的 .btn-tab 加入以下樣式
    .tab-checkbox:checked {
        background-color: $primary;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 20px;
        }
    }
}
.btn-online:hover {
    color: $info !important;
}

/* ----- ALBUMS 活動集錦 ----- */
.btn-album:hover {
    color: $warning !important;
}

/* ----- FOLLOW & SUBSCRIBE ----- */
.btn-subscribe:hover {
    color: $info !important;
}

