/* ----- 輪播 carousel ----- */
.carousel {
    position: relative;
    z-index: 1;
}
.carousel h3 {
    position: absolute;
    top: 48px;
    left: 60px;
    z-index: 5;
    @media (max-width: 576px) {
        .br-sm {
            display: block;
        }
    }
}
.carousel-item {
    height: 518px;
    @media (max-width: 768px) {
        height: 430px;
    }
    @media (max-width: 576px) {
        height: 350px;
    }
}
.carousel-imgBox img {
    width: 1296px;
    margin-top: -150px;
    @media (max-width: 768px) {
        width: 1000px;
    }
    @media (max-width: 576px) {
        width: 650px;
        margin-top: 0;
    }
}
.d-xs-none {
    @media (max-width: 576px) {
        display: none;
    }
}
.bottom-0 {
    bottom: 0;
}

/* ----- 探索更多 ----- */
.category-group img {
    width: 80px;
    height: 80px;
}

/* ----- 近期活動：網格卡片群組 ----- */
.gridCards-imgBox {
    height: 255px;
}

/* ----- 線上活動：水平卡片 ----- */
.horizontal-imgBox {
    height: 316px;
    img {
        width: 770px;
    }
}
.btn-tag.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    border-left: 4px solid $primary;
}
/* -- Q.偽元素的hover怎麼寫？ -- */
.btn-group a:hover {
    color: #fff;
    background-color: $primary;
    border-left: 4px solid $info;
}

/* ----- 活動集錦：網格卡片 ----- */
.album {
    height: 380px;
    position: relative;
}
.album-tag {
    position: absolute;
    transform: translate(108px, -50%) rotate(-3deg);
}
.album-imgBox {
    height: 274px;
}
.album-group li:nth-child(2), .album-group li:nth-child(4) {
    transform: rotate(1.5deg);
}
.album-group li:nth-child(3) {
    transform: rotate(-1.5deg);
}

/* ----- FOLLOW & SUBSCRIBE ----- */
