/* ----- logo ----- */
.navbar-brand img {
    width: 53px;
    @media (max-width: 576px) {
        width: 40px;
    }
}

/* ----- form ----- */
.navbar .form-control {
    width: 284px;
    @media (max-width: 576px) {
        width: 168px;
    }
}

/* ----- carousel ----- */
.carousel {
    position: relative;
    z-index: 1;
}
.carousel h3 {
    position: absolute;
    top: 48px;
    left: 60px;
    z-index: 5;
}
.carousel-item {
    height: 518px;
    @media (max-width: 768px) {
        height: 430px;
    }
    @media (max-width: 576px) {
        height: 350px;
    }
    .imgBox img {
        width: 1296px;
        margin-top: -100px;
        @media (max-width: 768px) {
            margin-top: -180px;
        }
        @media (max-width: 576px) {
            width: 650px;
            margin-top: 0;

        }

    }
    .d-xs-none {
        @media (max-width: 576px) {
            display: none;
        }
    }
}
.bottom-0 {
    bottom: 0;
}