<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7TAO - 會員登入</title>
    <!------- favicon ------->
    <link rel="shortcut icon" href="favicon.ico">


  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <!------- LOGIN 會員登入 ------->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4 loginArea pt-6 pt-md-11">
          <div class="d-flex flex-column align-items-center gap-4 mb-4">
            <img src="../assets/images/sparkler.png" alt="sparkler-logo">
            <h6 class="fs-4 fw-bold">會員登入</h6>
          </div>
          <form class="needs-validation d-flex flex-column" novalidate>
            <div class="mb-4">
              <label for="account" class="Noto-Sans-TC mb-2">帳號</label>
              <input class="form-control fs-5 Noto-Sans-TC px-4 py-2" type="text" placeholder="請輸入帳號" id="account" aria-label="account" required>
              <div class="invalid-feedback Noto-Sans-TC">
                請輸入帳號
              </div>
            </div>
            <div class="mb-6">
              <label for="password"  class="Noto-Sans-TC mb-2">密碼</label>
              <input class="form-control fs-5 Noto-Sans-TC px-4 py-2" type="text" placeholder="請輸入密碼" id="password" aria-label="password" required>
              <div class="invalid-feedback Noto-Sans-TC">
                請輸入密碼
              </div>
            </div>
            <button class="w-100 py-2 Noto-Sans-TC fs-5 fs-md-18 fw-bold text-white bg-primary me-1" type="submit">登入
              <i class="bi bi-chevron-double-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    

    <script src="../assets/js/all.js"></script>

    <script>
      // login novalidate
      // 每個有 .needs-validation 的 <form> 元素，觸發 submit 事件時，將該元素加入 class 'was-validated'
        $('.needs-validation').each(function(index) {
          $(this).on('submit', function(e) {
            e.preventDefault();
            $(this).addClass('was-validated');
          });
        });
        
    </script>


  </body>
</html>
